<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME TO OUR BACKERY </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <style>
         body {
         background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo3zAwcDpiS6IVG6xmHzliv1oa4nwGxXZPgg&usqp=CAU');
               </style>
  </head>
  <body>
    <h1 class="title"> Breads menu!</h1>
    <div class="form-wrapper">
      <form action="/" method="post">
        <div class="form-row">
          <img class="hotdog" src="/images/white.jpg" width="100"> <input type="tel" name="hotdog" value="0">
        </div>
        <div class="form-row">
          <img class="hamburger" src="/images/grain.jpg" width="100"> <input type="tel" name="hamburger" value="0">
        </div>
        <div class="form-row">
          <img class="salad" src="/images/roll.jpg" width="100"> <input type="tel" name="salad" value="0">
        </div>
        <div class="form-row">
          <img class="pizza" src="/images/croissant.jpg" width="100" > <input type="tel" name="pizza" value="0">
        </div>
        <div class="form-row">
          <img class="soda" src="/images/baguette.jpg" width="100"> <input type="tel" name="soda" value="0">
        </div>
          <input class="submit" type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
