<!DOCTYPE html>
<html>
  <head>
    <title>bakery service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
         body {
         background-color:#ab1f49;
               </style>
  </head>
  <body>
    <h1>welcome to our backery</h1>
    <div>
      <p>
        order number is: <% if (ticketNumber) { %>
        <%= ticketNumber %> 
        <% } %>
    </p>
    </div>
    <div>
    Your order contains: <% if (order) { %>
      <p>white breads: <%= order.hotdog %></p>
      <p>whole grain breads: <%= order.hamburger %></p>
      <p>roll: <%= order.salad %></p>
      <p>croissants: <%= order.pizza %></p>
      <p>baguettes: <%= order.soda %></p>  
      <% } %>  
       
    </div>

  </body>
</html>
